<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex flex-col min-h-screen justify-center items-center">
        <h1 class="pt-4 h-16 w-auto text-red-600 font-semibold text-8xl">404</h1>
        <h2 class="pt-16 h-16 w-auto text-black font-medium text-4xl">Not Found</h2>
    </div>
    <!-- <img class="invisible lg:visible absolute bottom-0 left-0 h-96 w-auto" src="{{ url_for('static', filename='imgs/errors/image0.gif') }}"> -->
    <img class="invisible lg:visible absolute bottom-0 right-0 h-96 w-auto" src="{{ url_for('static', filename='imgs/errors/phones.png') }}">
</body>
</html>