{% block content %}
    {% if get_lesson_state(Unit[x][1]) == 0 %}
    <div class="Rectangle1 Locked">
    {% else %}
    <div class="Rectangle1">
    {% endif %}
        <h1 id="header">{{ Unit[x][0] }}</h1>
        <div class="Ellipse1"></div>
        <img src="{{ url_for('static', filename='imgs/merlin.svg') }}" id="Image1">
        <div>
            <!-- {# FIXME: Change to use url_for #} -->
            {% if get_lesson_state(Unit[x][1]) == 0 %}
            <div onclick="document.location.href = '/guide';" class="Container">🔒 Nothing</div>
            {% elif get_lesson_state(Unit[x][1]) == 1 %}
            <div onclick="document.location.href = '/guide';" class="Container">🔒 Article</div>
            {% elif get_lesson_state(Unit[x][1]) == 2 %}
            <div onclick="document.location.href = '/guide';" class="Container">🔒 Quiz</div>
            {% endif %}
        </div>
    </div>
{% endblock content %}