{% block content %}
    <div class="Rectangle1">
        <h1 id="header">{{ Unit[x][0] }}</h1>
        <div class="Ellipse1"></div>
        <img src="{{ url_for('static', filename='imgs/merlin.svg') }}" id="Image1">
        <div>
            <div onclick="document.location.href = './article/article';" class="Container">🔒 {{ Unit[x][1][0] }}</div>
            <div onclick="document.location.href = './article/article';" class="Container">🔒 {{ Unit[x][1][1] }}</div>
            <div onclick="document.location.href = './article/article';" class="Container">🔒 {{ Unit[x][1][2] }}</div>
        </div>
    </div>
{% endblock content %}