{% block content %}
    <header class="flex items-stretch">
        <img onclick="window.location.href = `{{ url_for('index') }}`;" src="{{ url_for('static', filename='imgs/extras/logo.svg') }}" width="128" height="128">
        <!-- <img src="{{ url_for('static', filename='imgs/people/david.jpeg') }}" class="absolute w-16 h-16 top-0 right-0 mt-6 mr-6 rounded-full"> -->
        <div class="absolute w-16 h-16 top-0 right-0 mt-6 mr-6 rounded-full">
            {{ get_profile_picture(64,64)|safe }}
        </div>
    </header>
{% endblock content %}
