<!DOCTYPE html>
<html>
<head>
  <!-- <title>Histogram of the Last 7 Days</title> -->
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ url_for('static', filename='scripts/graphs.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    window.onload = function() {
        let url1 = "{{ url_for('stats_json') }}"
        let url2 = "{{ url_for('stats_json_general') }}"
        load(url1, url2)
    }
  </script>
</head>
<body class="bg-[url({{ url_for('static', filename='imgs/extras/grid.svg') }})]">
    <!--
        [FIXED] FIXME: This is very small on mobile devices for some reason.
        FIXME: New problem, now everything looks really small. Great.
    -->
    {% include "blocks/header.html" %}
    <!-- <div class="absolute inset-0 bg-[url({{ url_for('static', filename='imgs/extras/grid.svg') }})] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div> -->
    <!-- FIXME: Make each stat its own view. -->
    <!-- FIXME: Center this. -->
    <div class="flex flex-row justify-center">
        <div class="border-2 border-gradient-to-r from-cyan-500 to-blue-500 rounded-lg p-4 pb-0 w-4/5 h-4/5 bg-slate-50 drop-shadow-2xl" id="content">
            <article>
                <h1 class="text-4xl text-center">Weekly Performance</h1>
                <br>
                <canvas id="myCanvas"></canvas>
            </article>
            <article>
                <h1 class="text-4xl text-center">Strengths and Weaknesses</h1>
                <br>
                <canvas id="myCanvas2"></canvas>
            </article>
            <sup class="p-8 pb-0">
                <p class="pl-4"><b>NOTE</b>: Results may be a little off.</p><br>
                <p class="pl-4"><b>TIP</b>: Please refresh the page to refetch data.</p>
            </sup>
            <!--
            <h1 class="text-4xl text-center">Weekly Performance</h1>
            <br>
            <canvas id="myCanvas"></canvas>
            <sup class="p-8 pb-0">
                <p class="pl-4"><b>NOTE</b>: Results may be a little off.</p><br>
                <p class="pl-4"><b>TIP</b>: Please refresh the page to refetch data.</p>
            </sup>
            <h3 style="text-shadow: rgb(34 211 238) 1px 0 10px;" class="accent-primary pl-4 mb-2 mt-3 text-cyan-400 text-4xl">You have completed 4 questions.</h3>
            <h3 style="text-shadow: rgb(34 211 238) 1px 0 10px;" class="accent-primary pl-4 mb-2 mt-3 text-cyan-400 text-4xl">You completed the most questions on Monday.</h3>
            <h3 style="text-shadow: rgb(74 222 128) 1px 0 10px;" class="accent-primary pl-4 mb-2 mt-3 text-green-400 text-4xl">3 questions were answered correctly.</h3>
            <h3 style="text-shadow: rgb(248 113 113) 1px 0 10px;" class="accent-primary pl-4 mb-2 mt-3 text-red-400 text-4xl">1 question was not.</h3>
            -->
        </div>
    </div>
</body>
</html>