<!DOCTYPE html>
<html>
<head>
	<!-- https://www.codermerlin.academy/wiki/index.php/Style_Guide -->
	<!-- https://javascript.plainenglish.io/build-a-quiz-app-with-next-js-and-tailwindcss-f61b14148661 -->
	<title>{{ title }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script>
		var stopAt = 100/7;
		var progress = 0
    	var invervalSpeed = 10;
    	var incrementSpeed = 1;
    	var isAlreadyChecked = false;

		function getInnerHTMLByID(response, id) {
	 		const parser = new window.DOMParser();
			const doc = parser.parseFromString(response, 'text/html');
			const element = doc.getElementById(id);
			return element.innerHTML;
		}

    	function x() {
			if (isAlreadyChecked == true) {
				$.ajax({
					// url: "{{ url_for('__test') }}",
					url: "{{ url_for(testing_func) }}",
					type: "GET",
					async: false,
					success: function(response) {
						document.getElementById("question").innerHTML = getInnerHTMLByID(response, "question");
					},
				});
				isAlreadyChecked = false;
				return; 
			}
			isAlreadyChecked = true;
			try {
				var m = $("input[name=option]:checked");
      			m = m[0].id
			} catch (TypeError) {
				isAlreadyChecked = false;
				return
			}
      		$.ajax({
          		type: 'POST',
          		contentType: 'application/json',
          		// url: '{{ url_for("parse_data") }}',
          		url: '{{ url_for(parse_data_func) }}',
				data: `{"option": ${m}}`,
          		async: false,
          		success: (data) => {window.sessionStorage.setItem('data', data)},
          		processData: false,
          		contentType: false
      		});
			let dataObject = JSON.parse(window.sessionStorage.getItem('data'))
      		if (dataObject.correct == true) {
				let audio = new Audio();
				audio.src = "./static/audio/correct.mp3"; // FIXME: Change to `url_for`
				audio.play();
				var str = [
					'<div class="w-[100%] h-[10%] py-3 bg-lime-300 rounded-lg">',
					'\t<div class="flex items-stretch">',
					'\t\t<svg class="animated-check" viewBox="0 0 24 24" width="5%" height="5%">',
					'\t\t\t<path d="M4.1 12.7L9 17.6 20.3 6.3" fill="none"/>',
					'\t\t</svg>',
					'\t\t<div class="font-bold pl-5 pt-2 text-xl">',
					'\t\t\t<h1>Correct!</h1>',
					'\t\t\t<p class="font-light text-base"><b class="font-bold">Explanation</b>: <u>Arrays are zero indexed in Swift</u>. An array index can be no more than <u><code>length of array - 1</code></u>.</p>',
					'\t\t</div>',
					'\t</div>',
					'</div>'
				].join("\n")
				var child = document.createElement('div');
				child.innerHTML = str;
				child = child.firstChild;
				document.getElementById('question').appendChild(document.createElement('br'))
				document.getElementById('question').appendChild(document.createElement('br'))
				document.getElementById('question').appendChild(child);
				document.getElementById(`${m}`).parentElement.classList.add('bg-lime-300');			
	  		} else {
				let audio = new Audio();
				audio.src = "./static/audio/fail.mp3"; // FIXME: Change to `url_for`
				audio.play();
				var str = [
					'<div class="w-[100%] h-[10%] py-3 bg-red-300 rounded-lg">',
					'\t<div class="flex items-stretch">',
					'\t\t<div class="font-bold pl-5 pt-2 text-xl">',
					'\t\t\t<h1>Incorrect!</h1>',
					'\t\t\t<p class="font-light text-base"><b class="font-bold">Explanation</b>: <u>Arrays are zero indexed in Swift</u>. An array index can be no more than <u><code>length of array - 1</code></u>.</p>',
					'\t\t</div>',
					'\t</div>',
					'</div>'
				].join("\n")
				var child = document.createElement('div');
				child.innerHTML = str;
				child = child.firstChild;
				document.getElementById('question').appendChild(document.createElement('br'))
				document.getElementById('question').appendChild(document.createElement('br'))
				document.getElementById('question').appendChild(child);
				document.getElementById(`${m}`).parentElement.classList.add('bg-red-300');
				document.getElementById(`${dataObject.correct_choice}`).parentElement.classList.add('bg-lime-300');
			}
			document.getElementById("1").disabled = true;
			document.getElementById("2").disabled = true;
			document.getElementById("3").disabled = true;
			document.getElementById("4").disabled = true;
			document.getElementById("check").classList.replace("bg-green-600", "bg-blue-500");
			document.getElementById("check").classList.replace("shadow-[0_5px_0px_rgb(21,128,61)]", "shadow-[0_5px_0px_rgb(37,99,235)]");
			document.getElementById("check").innerHTML = "Next";
			stopAt += 25;
			change();
    	}

		function change() {
			let bar = document.getElementById('bar');
			progressInterval = setInterval(function() {
				if (progress >= stopAt) clearInterval(progressInterval);
				progress += incrementSpeed;
				bar.style.width = progress + "%";
				if(progress >= 100){
					clearInterval(progressInterval);
				}
			}, invervalSpeed);
		}
		document.addEventListener("DOMContentLoaded", change);
  	</script>
  	<link rel="stylesheet" href="{{ url_for('static', filename='styles/question.css') }}">
</head>
<body>
	<!--
	<header class="flex items-stretch">
		<img onclick="document.location = '/';" src="{{ url_for('static', filename='imgs/extras/logo.svg') }}" width="128" height="128">
		<img src="{{ url_for('static', filename='imgs/people/david.jpeg') }}" class="absolute w-16 h-16 top-0 right-0 mt-6 mr-6 rounded-full">
	</header>
	-->
	{% include "blocks/header.html" %}
	<div class="bg-gray-100 flex flex-col justify-center">
		<div id="progress" class="h-3 relative max-w-xl rounded-full overflow-hidden">
			<div class="w-full h-full bg-gray-200 absolute"></div>
			<div id="bar" class="h-full bg-green-500 relative w-0"></div>
		</div>
        <div id="question" class="relative px-4 py-10 bg-white shadow-lg sm:rounded-1xl sm:p-20">
			{% if flash %}
				{{ flash }}
			{% else %}
				<p class="question">{{ prompt|safe }}</p>
				<div class="flex items-center w-full py-4 pl-5 m-2 ml-0 space-x-2 border-2 cursor-pointer border-white/10 rounded-xl bg-white/5"><input id="1" type="radio" value="1" name="option" class="w-6 h-6 bg-black"><p class="ml-6 text-black">{{ questions[0]|safe }}</p></div>
				<div class="flex items-center w-full py-4 pl-5 m-2 ml-0 space-x-2 border-2 cursor-pointer border-white/10 rounded-xl bg-white/5"><input id="2" type="radio" value="2" name="option" class="w-6 h-6 bg-black"><p class="ml-6 text-black">{{ questions[1]|safe }}</p></div>
				<div class="flex items-center w-full py-4 pl-5 m-2 ml-0 space-x-2 border-2 cursor-pointer border-white/10 rounded-xl bg-white/5"><input id="3" type="radio" value="3" name="option" class="w-6 h-6 bg-black"><p class="ml-6 text-black">{{ questions[2]|safe }}</p></div>
				<div class="flex items-center w-full py-4 pl-5 m-2 ml-0 space-x-2 border-2 cursor-pointer border-white/10 rounded-xl bg-white/5"><input id="4" type="radio" value="4" name="option" class="w-6 h-6 bg-black"><p class="ml-6 text-black">{{ questions[3]|safe }}</p></div>
				<button onclick="x()" id="check" class="w-[100%] py-3 bg-green-600 rounded-lg shadow-[0_5px_0px_rgb(21,128,61)]">Check</button>
			{% endif %}
		</div>
    </div>
</body>
</html>
