<!DOCTYPE html>
<html>
<head>
	<!-- https://www.codermerlin.academy/wiki/index.php/Style_Guide -->
	<!-- https://javascript.plainenglish.io/build-a-quiz-app-with-next-js-and-tailwindcss-f61b14148661 -->
	<title>{{ title }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="{{ url_for('static', filename='scripts/questions.js') }}"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		// const url1 = "{{ url_for(testing_func) }}";
		// const url2 = "{{ url_for(parse_data_func) }}";
		function submit() {
			let url1 = "{{ url_for(testing_func) }}";
			let url2 = "{{ url_for(parse_data_func) }}";
			x(url1, url2)
		}
	</script>
  	<link rel="stylesheet" href="{{ url_for('static', filename='styles/question.css') }}">
</head>
<body>
	<!--
	<header class="flex items-stretch">
		<img onclick="document.location = '/';" src="{{ url_for('static', filename='imgs/extras/logo.svg') }}" width="128" height="128">
		<img src="{{ url_for('static', filename='imgs/people/david.jpeg') }}" class="absolute w-16 h-16 top-0 right-0 mt-6 mr-6 rounded-full">
	</header>
	-->
	{% include "blocks/header.html" %}
	<div class="bg-gray-100 flex flex-col justify-center">
		<div id="progress" class="h-3 relative max-w-xl rounded-full overflow-hidden">
			<div class="w-full h-full bg-gray-200 absolute"></div>
			<div id="bar" class="h-full bg-green-500 relative w-0"></div>
		</div>
        <div id="question" class="relative px-4 py-10 bg-white shadow-lg sm:rounded-1xl sm:p-20">
			{% if flash %}
				{{ flash }}
			{% else %}
				<p class="question">{{ prompt|safe }}</p>
				<div class="flex items-center w-full py-4 pl-5 m-2 ml-0 space-x-2 border-2 cursor-pointer border-white/10 rounded-xl bg-white/5"><input id="1" type="radio" value="1" name="option" class="w-6 h-6 bg-black"><p class="ml-6 text-black">{{ questions[0]|safe }}</p></div>
				<div class="flex items-center w-full py-4 pl-5 m-2 ml-0 space-x-2 border-2 cursor-pointer border-white/10 rounded-xl bg-white/5"><input id="2" type="radio" value="2" name="option" class="w-6 h-6 bg-black"><p class="ml-6 text-black">{{ questions[1]|safe }}</p></div>
				<div class="flex items-center w-full py-4 pl-5 m-2 ml-0 space-x-2 border-2 cursor-pointer border-white/10 rounded-xl bg-white/5"><input id="3" type="radio" value="3" name="option" class="w-6 h-6 bg-black"><p class="ml-6 text-black">{{ questions[2]|safe }}</p></div>
				<div class="flex items-center w-full py-4 pl-5 m-2 ml-0 space-x-2 border-2 cursor-pointer border-white/10 rounded-xl bg-white/5"><input id="4" type="radio" value="4" name="option" class="w-6 h-6 bg-black"><p class="ml-6 text-black">{{ questions[3]|safe }}</p></div>
				<button onclick="submit()" id="check" class="w-[100%] py-3 bg-green-600 rounded-lg shadow-[0_5px_0px_rgb(21,128,61)]">Check</button>
			{% endif %}
		</div>
    </div>
</body>
</html>
