@tailwind base;
@tailwind components;
@tailwind utilities;

/*
.animate-bounce {
    animation: bounce 1s infinite;
}
*/

img {
    max-width: 100%;
    max-height: 100%;
}

.review img {
    aspect-ratio: 1;
    object-fit: contain;
}

.review p {
    text-size-adjust: auto;
    font-size: x-large;
}

/*

#hills {
    float: right;
    background-image: url("../imgs/extras/hills.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    width: 800px;
    height: 360px;
    max-width: 100%;
    max-height: 100%;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100px);
    }
}
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* for the logo */

img.emoji {
    max-height: 64px;
    max-width: 64px;
    height: 100%;
    width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
}