<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[url({{ url_for('static', filename='imgs/extras/grid.svg') }})] min-h-screen">
    {% include "blocks/header.html" %}
    <div class="flex flex-row">
        <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-[95%] sm:rounded-lg sm:px-10 min-w-[95%] flex flex-row">
            <div class="flex flex-row justify-start">
                <img class="w-1/2 h-1/2" src="{{ url_for('static', filename='imgs/merlin.svg') }}">
                <div class="flex flex-col">
                    <h1 class="text-3xl text-black-600 font-semibold">Please Finish your {{ "Practice" if QuizName == "Lesson" else "Lesson" }} quiz.</h1>
                    <br>
                    <p>In order to advance to your {{ QuizName }} quiz, Please finish your unfinished {{ "Practice" if QuizName == "Lesson" else "Lesson" }} quiz prior to continuing.</p>
                    {% if QuizName == "Lesson" %}
                    <!-- {# fix onclick to use url_for #} -->
                    <div class="bg-gradient-to-r from-red-500 to-red-600 w-[95%] lg:w-[76%] rounded-lg" onclick="window.location.href='./test'">
                        <div class="flex">
                            <picture class="ml-4 mt-4 mb-4">
                                <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f4aa/512.webp" type="image/webp">
                                <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f4aa/512.gif" alt="💪" width="96" height="96">
                            </picture>
                            <div class="ml-8 lg:ml-16 mt-12">
                                <h1 class="text-xl lg:text-4xl font-black"><b>Practice</b></h1>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>